django>=5.2.6
pillow>=11.3.0
faker>=37.6.0
pytest>=8.4.2
pytest-django>=4.11.1
psycopg2-binary>=2.9.10
gunicorn>=23.0.0
dj-database-url>=3.0.1
whitenoise>=6.9.0
cloudinary>=1.44.1
dj3-cloudinary-storage>=0.0.6